* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/*Navbar */
.navbar {
    background-color: #ffffff;
    padding: 2% 20% 2% 20%;
}



.container {
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 52px;
}

.header-small-img {
    width: 16px;
    margin-right: 10px;
}

.button {
    width: 25vh;
    height: 2rem;
    border-radius: 20px;
    border-style: none;
    background-color: #3ca7db;
    color: #ffffff;
    font-weight: bold;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 7%;
}

.menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/* Main Content CSS */
.main-content {
    background-color: rgb(240, 240, 240);
    height: 81vh;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.main-content .left,
.right {
    width: 50%;
}

.right {
    background-color: #3ca7db;
    border-top-left-radius: 500px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.right img {
    position: absolute;
}

.right img:nth-child(1) {
    width: 25%;
    z-index: 2;
    left: 0.5%;
    bottom: 4%;
}

.right img:nth-child(2) {
    width: 26%;
    z-index: 1;
    left: 10%;
    bottom: 11%;
}

.right img:nth-child(3) {
    width: 65%;
    z-index: 3;
    left: 25%;
    bottom: 8%;
}


.left {
    margin-left: 15%;
    margin-top: 6%;
}

.left button {
    height: 10vh;
    width: 40vh;
    border-radius: 50px;
    margin-top: 6%;
    margin-bottom: 4%;
    background-color: #3ca7db;
    border-style: none;
    color: #ffffff;
    font-size: 4vh;
    font-weight: bold;
}

.left h1 {
    margin-bottom: 2%;
}

.orient {
    color: #3ca7db;
}

.down123 {
    display: flex;
    margin-top: 6vh;
}

.down123 p {
    margin-right: 10vh;
    margin-left: 2vh;
}

.down123 h1 {
    color: #3ca7db;
    font-size: 3rem;
    border-left: 0.5px solid black;
    padding-left: 10px;
}








/* Repair of any orient household appliances */
.product-content {
    background-color: rgb(255, 255, 255);
    height: 120vh;
    text-align: center;
    margin-bottom: 3%;
}

.head-pro-con {
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
}

.item-div {
    height: 110%;
    width: auto;
    margin: auto;
    margin-top: 10vh;
    box-shadow: 0px 0px 10px rgba(129, 129, 129, 0.5);
    position: relative;
}

.pro-con-down {
    width: 60%;
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
}

.left-div {
    box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.5);
    height: 80%;
    width: 30%;
    margin-left: 4%;
    top: 10%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.left-div:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.left-div img {
    height: 60%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.mid-div-1 {
    box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.5);
    height: 38%;
    width: 30%;
    margin-left: 35%;
    top: 10%;
    position: absolute;
}

.mid-div-1:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.mid-div-1 img {
    height: 60%;
    margin-top: 8%;
    margin-bottom: 4%;
}

.mid-div-2 {
    box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.5);
    height: 38%;
    width: 30%;
    margin-left: 35%;
    top: 52%;
    position: absolute;
}

.mid-div-2:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.mid-div-2 img {
    height: 60%;
    margin-top: 8%;
    margin-bottom: 4%;
}

.right-div-1 {
    box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.5);
    height: 38%;
    width: 30%;
    margin-left: 66%;
    top: 52%;
    position: absolute;

}

.right-div-1:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.right-div-1 img {
    height: 60%;
    margin-top: 8%;
    margin-bottom: 4%;
}

.right-div-2 {
    box-shadow: 0px 0px 10px rgba(179, 179, 179, 0.5);
    height: 38%;
    width: 30%;
    margin-left: 66%;
    top: 10%;
    position: absolute;

}

.right-div-2:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.right-div-2 img {
    height: 60%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.back {
    height: 60%;
    width: 10%;
    background-color: aquamarine;
}

.pro-con {
    height: 60%;
    display: flex;
    margin-bottom: 10%;
}

.first {
    height: 80%;
    width: 20%;
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second {
    height: 100%;
    width: 60%;
}

.third {
    height: 80%;
    width: 20%;
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first img {
    height: 8%;
    margin-left: 50%;
}

.third img {
    height: 7%;
    margin-right: 50%;
}

.third:hover img {
    content: url('images/next\ hover.png');
}

.first:hover img {
    content: url('images/back\ hover.png');
}






/* Order a free departure master in 30 minutes */
.promotion-content {
    background-color: rgb(242, 242, 242);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-promotion {
    background-color: #3ca7db;
    height: 60%;
    width: 60%;
    display: flex;
}

.left-promotion {
    width: 50%;
    padding-right: 10%;
    height: 70%;
    margin-top: 5%;
    margin-left: 5%;
    color: #ffffff;
}

.left-promotion button {
    width: 25vh;
    height: 2rem;
    border-radius: 20px;
    border-style: none;
    background-color: #db493c;
    color: #ffffff;
    font-weight: bold;
}

.left-promotion p {
    font-size: 2vh;
    margin-top: 6%;
    margin-bottom: 6%;
}

.right-promotion {
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
}

.right-promotion img:nth-child(1) {
    height: 110%;
    bottom: 0%;
    position: absolute;
    z-index: 1;
    left: -10%;
}

.right-promotion img:nth-child(2) {
    height: 110%;
    left: 15%;
    bottom: -5%;
    position: absolute;
}

.right-promotion img:nth-child(3) {
    height: 125%;
    left: 60%;
    bottom: -6%;
    position: absolute;
}










/* Orient service offers the best price */
.review-content {
    background-color: #3ca7db;
    height: 70vh;
    text-align: center;
}

.rev-main-heading {
    color: #ffffff;
}

.orient1 {
    color: #963027;
    font-weight: bolder;
}

.rev-content {
    height: 70%;
    width: 70%;
    margin: auto;
    margin-top: 2%;
    position: relative;
}

.review-content h1 {
    padding-top: 2%;
}

.first-rev-row {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    background-color: #ffffff;
    height: 90%;
    width: 24%;
    text-align: left;
}

.box h3,
.box p {
    margin-top: 8%;
    margin-left: 8%;
}

.second-rev-row {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-plumber {
    background-color: #912b22;
    height: 90%;
    width: 24%;
    display: flex;
    position: relative;
}

.box-plumber-left {
    width: 50%;
    color: #ffffff;
    font-size: small;
    text-align: left;
}

.box-plumber-right {
    width: 50%;
}

.box-plumber-right img {
    position: absolute;
    width: 55%;
    left: 50%;
    bottom: 0%;
}

.box-plumber-left h3,
.box-plumber-left p {
    margin-top: 10%;
    margin-left: 8%;
}

.washing-div {
    background-color: #ffffff;
    height: 90%;
    width: 24%;
    text-align: left;
    display: flex;
    position: relative;
}

.bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.black-img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.washing-left {
    width: 50%;
    height: 100%;
    z-index: 2;
    color: #ffffff;
}

.washing-right {
    width: 50%;
    height: 50%;
}

.washing-left h3,
.washing-left p {
    margin-top: 10%;
    margin-left: 10%;
}

.washing-right {
    z-index: 1;
}

.washing-right img {
    height: 90%;
    position: absolute;
    bottom: -3%;
    right: -2%;
}

.box8 {
    background-color: #431228;
    height: 90%;
    width: 24%;
    text-align: left;
    display: flex;
    position: relative;
}

.box8-right {
    height: 100%;
    width: 50%;
}

.box8-left {
    height: 100%;
    width: 50%;
    color: #ffffff;
}

.box8-left h3,
.box8-left p {
    margin-top: 6%;
    margin-left: 7%;
    font-size: medium;
}

.box8-right img {
    height: 80%;
    bottom: 6%;
    position: absolute;
}




/* Scheme of work */
.services-content {
    background-color: #ffffff;
    height: 120vh;
    text-align: center;
}

.services-content h1 {
    margin-top: 5%;
}

.service-content-main {
    height: 80%;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
}

.service-content-top {
    height: 49%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.ser-con-box {
    height: 100%;
    width: 33.33%;
    position: relative;
}

.service-content-bottom {
    height: 49%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ser-con-inside-box {
    height: 80%;
    width: 90%;
    border: 2px solid #3ca7db;
    bottom: 0;
    left: 2%;
    position: absolute;
}

.ser-con-inside-small-box {
    background-color: #3ca7db;
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ser-con-inside-small-box h2 {
    color: #ffffff;
}

.ser-con-inside-box img {
    position: absolute;
    margin-top: 35%;
    left: 10%;
}

.ser-con-inside-box p {
    text-align: left;
    margin-left: 35%;
    margin-right: 10%;
    margin-top: 30%;
}

.services-content-mobile {
    display: none;
}










/* get 15% discount */

.offer-content {
    background-color: #3ca7db;
    height: 50vh;
    margin-top: 5%;
    display: flex;
}

.offer-div1 {
    height: 100%;
    width: 15%;
}

.offer-div2 {
    height: 100%;
    width: 70%;
    display: flex;
}

.offer-div3 {
    height: 100%;
    width: 15%;
}

.offer-div2-left {
    height: 100%;
    width: 50%;
    color: #ffffff;
    margin-top: 5%;
}

.offer-div2-right {
    height: 100%;
    width: 50%;
    display: flex;
    position: relative;
}

.offer-div2-right img:nth-child(1) {
    height: 110%;
    position: absolute;
    left: 0%;
    bottom: 0;
    z-index: 3;
}

.offer-div2-right img:nth-child(2) {
    height: 90%;
    position: absolute;
    left: 40%;
    z-index: 2;
    bottom: -4%;
}

.offer-div2-right img:nth-child(3) {
    height: 110%;
    position: absolute;
    left: 60%;
    z-index: 1;
    bottom: 0%;
}

.offer-div2-left h1,
.offer-div2-left p,
.offer-div2-left button {
    margin-top: 5%;
    margin-right: 20%;
}

.offer-div2-left button {
    width: 25vh;
    height: 2rem;
    border-radius: 20px;
    border-style: none;
    background-color: #db493c;
    color: #ffffff;
    font-weight: bold;
}

















/* Reviews */
.team-content {
    background-color: #ffffff;
    height: 70vh;
    position: relative;
}

.team-content h1 {
    text-align: center;
    margin-top: 5%;
}


.team-div {
    width: 100%;
    height: 80%;
    bottom: 0;
    position: absolute;
    display: flex;
}


.t-div1 {
    height: 100%;
    width: 15%;
}

.t-div2 {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.t-div3 {
    height: 100%;
    width: 15%;
}

.div2-1 {
    width: 32%;
    height: 70%;
    border: 1px solid #3ca7db;
}

.div2-1 img {
    position: absolute;
    top: -40px;
    left: 26%;
    transform: translateX(-50%);
    width: 5%;
    height: 20%;
    border-radius: 50%;
}

.div2-1 h3 {
    margin-top: 20%;
    margin-left: 10%;
}

.div2-1 p {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}




.div2-2 {
    width: 32%;
    height: 70%;
    border: 1px solid #3ca7db;
}

.div2-2 img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.div2-2 h3 {
    margin-top: 20%;
    margin-left: 10%;
}

.div2-2 p {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}



.div2-3 {
    width: 32%;
    height: 70%;
    border: 1px solid #3ca7db;
}

.div2-3 img {
    position: absolute;
    top: -40px;
    left: 74%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.div2-3 h3 {
    margin-top: 20%;
    margin-left: 10%;
}

.div2-3 p {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}













/* answer and question */
.form-content {
    background-color: #3ca7db;
    height: 70vh;
    text-align: center;
}

.form-content h1 {
    color: #ffffff;
    padding-top: 3%;
    margin-bottom: 3%;
}

.form-div2 {
    height: 75%;
    width: 100%;
    display: flex;
}

.form-div2-1 {
    width: 15%;
    height: 100%;
}

.form-div2-2 {
    width: 70%;
    height: 80%;
    display: flex;
}

.for-left {
    width: 50%;
    height: 100%;
}

.for-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dropdown {
    margin-top: 5%;
    width: 90%;
    height: 20%;
    padding: 3%;

}

#dropdown2 {
    margin-top: 5%;
    width: 90%;
    height: 50%;
    padding: 3%;
}


.for-right {
    width: 50%;
    height: 100%;
}

.form-div2-3 {
    width: 15%;
    height: 100%;
}







/* map */
.location-content {
    background-color: rgb(255, 255, 255);
    height: 75vh;
    position: relative;
}


.location-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.loc-con-div {
    background-color: #ffffff;
    width: 20%;
    height: 70%;
    z-index: 1;
    position: relative;
    top: 15%;
    left: 20%;
}


.loc-con-div span {
    display: flex;
    padding-top: 10%;
    padding-left: 10%;
}

.loc-con-div span img {
    height: 0%;
}

.loc-con-div h2 {
    padding-top: 20%;
    padding-left: 30%;
}

.loc-con-div button {
    margin-top: 10%;
    margin-left: 20%;
}
















/* footer */

.footer {
    background-color: #ffffff;
    height: 18vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-content {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content span {
    display: flex;
}

.footer-content span img {
    height: 8vh;
    margin-right: 5%;
}


@media only screen and (max-width: 1351px) {
    body {

        .left-promotion {
            margin-top: 1%;
        }

        .navbar {
            padding: 2% 10% 2% 10%;
        }

        .right img:nth-child(1) {
            left: 0%;
        }

        .right img:nth-child(2) {
            left: 5%;
        }

        .right img:nth-child(3) {
            left: 20%;
        }

        .ser-con-inside-box img {
            height: 15%;
        }



        /* orient service offers the best price */
        .first-rev-row {
            font-size: small;
        }

        .second-rev-row {
            font-size: small;
        }

        .box-plumber-left {
            font-size: x-small;
        }

        .washing-left {
            font-size: x-small;
        }

        .box8-left h3,
        .box8-left p {
            font-size: x-small;
        }

        .washing-right img {
            height: 70%;
        }

        .box8-right img {
            height: 60%;
        }


        .ser-con-inside-small-box {
            position: absolute;
            z-index: 1;
        }

        /* order a free departure masters in 30 minutes */
        .bg-promotion {
            margin-left: -10%;
        }


        /* map */
        .loc-con-div button {
            margin-top: 10%;
            margin-left: 15%;
        }
    }
}

@media only screen and (max-width: 1232px) {
    body {

        .left-promotion {
            margin-top: 1%;
        }

        .left {
            font-size: small;
            margin-left: 10%;
        }

        .navbar {
            padding: 2% 10% 2% 10%;
        }

        .right img:nth-child(1) {
            left: 0%;
        }

        .right img:nth-child(2) {
            left: 5%;
        }

        .right img:nth-child(3) {
            left: 20%;
        }

        .ser-con-inside-box img {
            height: 15%;
        }



        /* orient service offers the best price */
        .first-rev-row {
            font-size: small;
        }

        .second-rev-row {
            font-size: small;
        }

        .box-plumber-left {
            font-size: x-small;
        }

        .washing-left {
            font-size: x-small;
        }

        .box8-left h3,
        .box8-left p {
            font-size: x-small;
        }

        .washing-right img {
            height: 70%;
        }

        .box8-right img {
            height: 60%;
        }


        .ser-con-inside-small-box {
            position: absolute;
            z-index: 1;
        }

        /* order a free departure masters in 30 minutes */
        .bg-promotion {
            margin-left: -10%;
        }

        .promotion-content {
            font-size: small;
        }

        .left-promotion h1 {
            margin-top: 10%;
        }





        /* map */
        .loc-con-div button {
            margin-top: 10%;
            margin-left: 15%;
        }
    }
}




@media only screen and (max-width: 1100px) {
    body {

        /* Main content */
        .main-content {
            height: 71vh;
        }

        /* Repair of any orient household appliance */
        .product-content {
            height: 100vh;
        }

        .pro-con-down {
            font-size: x-small;
        }

        /* Scheme of work */
        .ser-con-box {
            height: 90%;
        }

        .service-content-main {
            font-size: small;
        }

        /* Reviews */
        .team-div {
            top: 30%;
            font-size: small;
        }

        .div2-1 {
            height: 60%;
        }

        .div2-2 {
            height: 60%;
        }

        .div2-3 {
            height: 60%;
        }


        .left-promotion {
            margin-top: 1%;
        }

        .navbar {
            padding: 2% 10% 2% 10%;
        }

        .right img:nth-child(1) {
            left: 0%;
        }

        .right img:nth-child(2) {
            left: 5%;
        }

        .right img:nth-child(3) {
            left: 20%;
        }

        .ser-con-inside-box img {
            height: 15%;
        }



        /* orient service offers the best price */
        .first-rev-row {
            font-size: small;
        }

        .second-rev-row {
            font-size: small;
        }

        .box-plumber-left {
            font-size: x-small;
        }

        .washing-left {
            font-size: x-small;
        }

        .box8-left h3,
        .box8-left p {
            font-size: x-small;
        }

        .washing-right img {
            height: 70%;
        }

        .box8-right img {
            height: 60%;
        }


        .ser-con-inside-small-box {
            position: absolute;
            z-index: 1;
        }

        /* order a free departure masters in 30 minutes */
        .bg-promotion {
            margin-left: -10%;
        }


        /* map */
        .loc-con-div button {
            margin-top: 10%;
            margin-left: 15%;
        }
    }
}












@media only screen and (max-width: 10000px) {
    body {

        /* Main content */
        .main-content {
            height: 71vh;
        }

        /* Repair of any orient household appliance */
        .product-content {
            height: 100vh;
        }

        .pro-con-down {
            font-size: x-small;
        }

        /* Scheme of work */
        .ser-con-box {
            height: 90%;
        }

        .service-content-main {
            font-size: small;
        }

        /* Reviews */
        .team-div {
            top: 30%;
            font-size: small;
        }

        .div2-1 {
            height: 60%;
        }

        .div2-2 {
            height: 60%;
        }

        .div2-3 {
            height: 60%;
        }


        .left-promotion {
            margin-top: 1%;
        }

        .navbar {
            padding: 2% 10% 2% 10%;
        }

        .right img:nth-child(1) {
            left: 0%;
        }

        .right img:nth-child(2) {
            left: 5%;
        }

        .right img:nth-child(3) {
            left: 20%;
        }

        .ser-con-inside-box img {
            height: 15%;
        }



        /* orient service offers the best price */
        .first-rev-row {
            font-size: small;
        }

        .second-rev-row {
            font-size: small;
        }

        .box-plumber-left {
            font-size: x-small;
        }

        .washing-left {
            font-size: x-small;
        }

        .box8-left h3,
        .box8-left p {
            font-size: x-small;
        }

        .washing-right img {
            height: 70%;
        }

        .box8-right img {
            height: 60%;
        }


        .ser-con-inside-small-box {
            position: absolute;
            z-index: 1;
        }

        /* order a free departure masters in 30 minutes */
        .bg-promotion {
            margin-left: -10%;
        }


        /* map */
        .loc-con-div button {
            margin-top: 10%;
            margin-left: 15%;
        }
    }
}











@media screen and (max-width: 1024px) {
    body {

        /* Navbar */




        /* Main Content */



        /*  Repair of any orient household appliances  */



        /* Order a free departure masters in 30 minutes */
        .bg-promotion {
            font-size: 10px;
        }


        /* Orient service offers the best prices  */
        .box {
            font-size: 2vh;
        }


        /* Scheme of work  */



        /* Get 15% discount right now  */


        /* Reviews */


        /* Answers and questions */


        /* Map */


        /* Footer */

    }
}














/* ipad pro */
@media screen and (max-width: 1024px) and (min-height: 1366px) {
    body {

        /* Navbar */
        .button {
            width: 10vh;
        }

        .logo {
            width: 45px;
        }

        .container {
            font-size: small;
        }


        /* Main Content */
        .main-content {
            height: 30vh;
        }

        .left button {
            height: 2vh;
            width: 8vh;
            font-size: small;
        }

        .down123 p {
            margin-right: 1vh;
            font-size: small;
        }

        .down123 {
            margin-top: 3vh;
        }

        .down123 h1 {
            font-size: 2vh;
        }

        /*  Repair of any orient household appliances  */
        .product-content {
            height: 50vh;
        }

        .head-pro-con {
            margin-top: 5vh;
            margin-bottom: -5vh;
            font-size: x-large;
        }

        .item-div {
            height: 30vh;
        }

        .pro-con-down {
            margin-top: 20%;
        }


        /* Order a free departure masters in 30 minutes */
        .promotion-content {
            height: 30vh;
        }

        .bg-promotion {
            font-size: 10px;
            height: 60%;
            margin-left: 2%;

        }

        .right-promotion img:nth-child(1) {
            height: 80%;
            bottom: 0%;
            position: absolute;
            z-index: 1;
            left: -20%;
        }

        .left-promotion button {
            margin-top: 4%;
            width: 10vh;
        }

        .right-promotion img:nth-child(2) {
            height: 80%;
            left: 10%;
            bottom: -5%;
            position: absolute;
        }

        .right-promotion img:nth-child(3) {
            height: 85%;
            left: 50%;
            bottom: -3%;
            position: absolute;
        }

        .left-promotion h1,
        .left-promotion p {
            font-size: small;
        }



        /* Orient service offers the best prices  */
        .review-content {
            height: 40vh;
        }

        .box {
            font-size: 15px;
            height: 85%;
        }

        .rev-main-heading {
            padding-top: 5%;
        }

        .box-plumber {
            height: 85%;
        }

        .washing-div {
            height: 85%;
        }

        .box8 {
            height: 85%;
        }

        .first-rev-row {
            margin-top: 5%;
        }

        .second-rev-row {
            margin-top: -2%;
        }


        /* Scheme of work  */
        .services-content {
            height: 50vh;
        }



        /* Get 15% discount right now  */
        .offer-content {
            height: 20vh;
        }

        .offer-div2-right img:nth-child(1) {
            height: 110%;
            position: absolute;
            left: 0%;
            bottom: 0;
            z-index: 3;
        }

        .offer-div2-right img:nth-child(2) {
            height: 90%;
            position: absolute;
            left: 40%;
            z-index: 2;
            bottom: -4%;
        }

        .offer-div2-right img:nth-child(3) {
            height: 110%;
            position: absolute;
            left: 60%;
            z-index: 1;
            bottom: 0%;
        }

        .offer-div2-left {
            margin-left: -5%;
        }


        /* Reviews */
        .team-content {
            height: 30vh;
        }

        .t-div2 {
            font-size: 12px;
        }


        /* Answers and questions */
        .form-content {
            height: 28vh;
        }


        /* Map */
        .location-content {
            height: 30vh;
        }

        /* Footer */
        .footer {
            height: 10vh;
            font-size: x-small;
        }

        .footer img {
            height: 3vh;
        }

    }
}




/* iphone 14 */
@media screen and (max-width: 430px) {
    body {

        /* Navbar */
        .button {
            width: 5vh;
            font: 1%;
            margin-left: 70%;
        }

        .button p {
            font-size: 6px;
        }

        .logo {
            margin-left: -80%;
            margin-top: 10%;
            width: 30px;
        }

        .container {
            font-size: 7px;
        }

        .menu {
            margin-left: 0%;
        }

        .li-loc {
            margin-left: 0%;
        }

        .li-number {
            width: 24%;
        }


        /* Main Content */
        .main-content {
            height: 70vh;
            flex-direction: column;

        }

        .left {
            width: 100%;
        }

        .left button {
            height: 2vh;
            width: 5vh;
            font-size: small;
        }

        .left h1 {
            margin-left: -10%;
            width: 40vh;
            font-size: 50px;
            margin-bottom: 10%;
        }

        .left button {
            margin-top: 10%;
            height: 5vh;
            width: 10vh;
            margin-left: -10%;
            margin-bottom: 10%;
        }

        #element {
            margin-left: -10%;
            margin-top: 100vh;
        }

        #element1 {
            margin-left: -10%;
            margin-top: 100vh;
        }


        .down123 p {
            margin-right: 7vh;
            font-size: small;
        }

        .down123 {
            margin-top: 4vh;
        }

        .down123 h1 {
            font-size: 2vh;
        }

        .right {
            background-color: #3ca7db;
            border-top-left-radius: 500px;
            position: relative;
            display: flex;
            justify-content: space-between;
        }

        .right img:nth-child(1) {
            width: 75%;
            z-index: 2;
            left: -10%;
            bottom: -3vh;
        }

        .right img:nth-child(2) {
            width: 60%;
            z-index: 1;
            left: 140%;
            bottom: 11%;
        }

        .right img:nth-child(3) {
            width: 105%;
            z-index: 3;
            left: 45%;
            bottom: 8%;
        }


        /*  Repair of any orient household appliances  */
        .product-content {
            height: 50vh;
        }

        .head-pro-con {
            margin-top: 5vh;
            margin-bottom: -5vh;
            font-size: small;
        }

        .item-div {
            height: 30vh;
        }

        .pro-con-down {
            margin-top: 30%;
            font-size: 7px;
            margin-left: 5%;
            margin-top: 33%;
            width: 40vh;
        }

        .pro-con-down .button {
            width: 10vh;
            font-size: 10px;
            margin-left: 10%;
        }

        .first{
            width: 10%;
        }
        .first img{
            margin-left: 0%;
        }
        .third{
            width: 10%;
        }
        .third img{
            margin-right: 0%;
        }
        .second {
            font-size: xx-small;
            width: 100%;
        }

        .first img {
            margin-top: 400%;
        }

        .third img {
            margin-top: 400%;
        }
        .left-div {
            display: none;
        }
        .mid-div-1{
            width: 45%;
            margin-left: 4%;
        }
        .mid-div-2{
            width: 45%;
            margin-left: 4%;
        }
        .right-div-1{
            width: 45%;
            margin-left: 52%;
        }
        .right-div-2{
            width: 45%;
            margin-left: 52%;
        }



        /* Order a free departure masters in 30 minutes */
        .promotion-content {
            background-color: #9f9f9f;
            height: 80vh;
            margin-bottom: 10%;
        }

        .bg-promotion {
            font-size: 10px;
            height: 100%;
            width: 100%;
            flex-direction: column;
            margin-left: 0%;

        }

        .left-promotion {
            height: 50%;
        }

        .right-promotion {
            margin-left: 10%;
            width: 100%;
            height: 50%;
            /* background-color: #912b22; */
            margin-left: 0%;
        }

        .left-promotion button {
            margin-top: 30%;
            width: 20vh;
            margin-left: 45%;
        }

        .right-promotion img:nth-child(1) {
            height: 70%;
            bottom: 0%;
            position: absolute;
            z-index: 1;
            left: -5%;
        }



        .right-promotion img:nth-child(2) {
            height: 70%;
            left: 20%;
            bottom: -3%;
            position: absolute;
        }

        .right-promotion img:nth-child(3) {
            height: 70%;
            left: 60%;
            bottom: -3%;
            position: absolute;
        }

        .left-promotion h1,
        .left-promotion p {
            font-size: 3vh;
            width: 40vh;
        }



        /* Orient service offers the best prices  */
        .review-content {
            height: 120vh;
        }

        .rev-main-heading {
            padding-top: 10%;
            margin-bottom: 10%;
        }

        .rev-content {
            display: flex;
        }

        .first-rev-row {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: -20%;
            height: 120%;
        }

        .second-rev-row {
            width: 100%;
            flex-direction: column;
            margin-right: -20%;
            height: 120%;
        }

        .box {
            padding-right: 10px;
            width: 90%;
            height: 100%;
            margin-bottom: 10%;
            padding-bottom: 5%;
        }

        .box-plumber {
            width: 90%;
            height: 111%;
            margin-bottom: 10%;
            padding-bottom: 5%;
        }

        .washing-div {
            width: 90%;
            height: 125%;
            margin-bottom: 10%;
            padding-bottom: 5%;
        }

        .box8 {
            width: 90%;
            height: 100%;
            margin-bottom: 10%;
            padding-bottom: 5%;
        }

        .box8-right img {
            height: 10vh;
        }




        /* Scheme of work  */
        .services-content {
            display: none;
        }

        .services-content-mobile {
            display: block;
            background-color: #ffffff;
            height: 90vh;
            text-align: center;
        }
        .services-content-mobile h1{
            margin-top: 10%;
            margin-bottom: 10%;
        }

        .service-content-top {
            height: 35%;
            width: 140%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2%;
            margin-left: -19%;
        }

        .service-content-mid {
            height: 35%;
            width: 140%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2%;
            margin-left: -19%;
        }

        .ser-con-box {
            height: 100%;
            width: 80%;
            position: relative;
        }

        .service-content-bottom {
            height: 35%;
            width: 140%;
            display: flex;
            justify-content: space-between;
            margin-left: -19%;
        }








        /* Get 15% discount right now  */
        .offer-content {
            height: 20vh;
            font-size: xx-small;
        }

        .offer-div2 button {
            width: 10vh;
        }

        .offer-div2-right img:nth-child(1) {
            height: 110%;
            position: absolute;
            left: -20%;
            bottom: 0;
            z-index: 3;
        }

        .offer-div2-right img:nth-child(2) {
            height: 90%;
            position: absolute;
            left: 45%;
            z-index: 2;
            bottom: -4%;
        }

        .offer-div2-right img:nth-child(3) {
            height: 110%;
            position: absolute;
            left: 86%;
            z-index: 1;
            bottom: 0%;
        }

        .offer-div2-left {
            margin-left: -15%;
        }





        /* Reviews */
        .team-content {
            height: 30vh;
        }

        .t-div2 {
            width: 98%;
            font-size: 7px;
        }

        .t-div1 {
            width: 2%;
        }

        .t-div3 {
            width: 2%;
        }


        .div2-1 img {
            position: absolute;
            top: -25px;
            left: 18%;
            transform: translateX(-50%);
            width: 12%;
            height: 20%;
            border-radius: 50%;
        }

        .div2-2 img {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .div2-3 img {
            position: absolute;
            top: -25px;
            left: 82%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }




        /* Answers and questions */
        .form-content {
            height: 28vh;
        }


        /* Map */
        .location-content {
            height: 50vh;
        }

        .loc-con-div {
            width: 20vh;
        }

        .loc-con-div .button {
            width: 12vh;
            margin-left: 30px;
        }


        /* Footer */
        .footer {
            height: 10vh;
            font-size: 8px;
        }

        .footer img {
            height: 3vh;
            padding-right: 10px;
        }



    }
}